{% extends 'logged-in-base.html.twig' %}

{% block title %}Time{% endblock %}

{% block main %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/time.css') }}">
    <link rel="stylesheet" href="{{ asset('css/time-header.css') }}">
    <script>
        window.apiEndpointTimeEntry = '{{ apiEndpointTimeEntry }}';
        window.apiEndpointFavorites = '{{ apiEndpointFavorites }}';
    </script>
    <script src="{{ asset('js/favorites.js') }}" defer></script>
    <script src="{{ asset('js/time.js') }}" defer></script>
    <div class="time-header">
        <span></span>
        <span></span>
        <a href="{{ path('time', {'dateStart' : previousWeek}) }}" class="arrow older">&laquo;</a>
        {% for weekday in dates %}
            <span>{{ weekday.name }}<br/>{{ weekday.displayDate }}</span>
        {% endfor %}
        <a href="{{ path('time', {'dateStart' : nextWeek}) }}" class="arrow newer">&raquo;</a>
    </div>
    {% for client in clients %}
        <details>
            <summary
                    data-object-id="{{ client.id }}"
                    data-object-type="client"
                    data-object-name="{{ client.name }}"
                    data-is-favorite="{{ client.id in favoriteClients ? 'true' : 'false' }}"
            >
                <button class="favorite-icon" data-role="favorite"
                        data-aria-label-add="Add {{ client.name }} to favorites"
                        data-aria-label-remove="Remove {{ client.name }} from favorites"
                >★
                </button>
                <span>
                    {{ client.name }}
                </span>
                {% for weekday in dates %}
                    <span
                            class="time-entry-header"
                            data-date="{{ weekday.idDate }}"
                    ></span>
                {% endfor %}
                <button class="accordion-toggle">
                    <span>+</span>
                </button>
            </summary>
            <ul>
                {% for project in client.projects %}
                    <li
                            data-object-id="{{ project.id }}"
                            data-object-type="project"
                            data-object-name="{{ project.name }}"
                            data-is-favorite="{{ project.id in favoriteProjects ? 'true' : 'false' }}"
                    >
                        <button class="favorite-icon" data-role="favorite"
                                data-aria-label-add="Add {{ project.name }} to favorites"
                                data-aria-label-remove="Remove {{ project.name }} from favorites"
                        >★
                        </button>
                        <span>
                            {{ project.name }}
                        </span>
                        {% for weekday in dates %}
                            <input
                                    {% if userTimeEntries[project.id][weekday.idDate] is defined %}
                                        value="{{ userTimeEntries[project.id][weekday.idDate] }}"
                                    {% endif %}
                                    data-date="{{ weekday.idDate }}"
                                    type="number"
                                    data-role="time-entry-field"
                                    name="{{ project.id }}|{{ weekday.idDate }}"
                                    placeholder="0" step="0.25" min="0" max="100"/>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </details>
    {% endfor %}
{% endblock %}
