{% extends 'logged-in-base.html.twig' %}

{% block main %}
    {% include('includes/flash-messages.html.twig') %}
    <form method="post">
        <input type="submit" value="Submit"/>
        <input type="hidden" name="token" value="{{ csrf_token(csrf_token_name) }}"/>
        <table border="1">
            <thead>
            <tr>
                <td></td>
                {% for pc in project_categories %}
                    <th>{{ pc.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td><strong>{{ client.name }}</strong></td>
                    {% for pc in project_categories %}
                        <td>
{#                            <input name="client:{{ client.id }}" value="pc:{{ pc.id }}" type="radio"/>#}
                        </td>
                    {% endfor %}
                </tr>
                {% for project in client.projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        {% for pc in project_categories %}
                            <td><input name="project:{{ project.id }}" value="{{ pc.id }}" type="radio"
                                        {% if project.projectCategory and project.projectCategory.id == pc.id %}
                                            checked
                                        {% endif %}
                                /></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}