{% extends 'logged-in-base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin-project-category-grid.css') }}">
{% endblock %}

{% block main %}
    {% include('includes/flash-messages.html.twig') %}
    <form method="post" class="admin-project-category-grid">
        {#        <input type="submit" value="Submit"/> #}
        <input type="hidden" name="token" value="{{ csrf_token(csrf_token_name) }}"/>
{#        <div class="category-header">#}
{#            {% for pc in project_categories %}#}
{#                <span>{{ pc.name }}</span>#}
{#            {% endfor %}#}
{#        </div>#}
        <div class="clients">
            {% for client in clients %}
                <details class="client">
                    <summary>{{ client.name }}</summary>
                    <div class="projects">
                        <div class="category-header">
                            {% for pc in project_categories %}
                                <span>{{ pc.name }}</span>
                            {% endfor %}
                        </div>
                        {% for project in client.projects %}
                            <div class="project">
                                <span class="project-name">
                                    {{ project.name }}
                                </span>
                                {% for pc in project_categories %}
                                    <span>
                                    <input
                                            name="project:{{ project.id }}" value="{{ pc.id }}" type="radio"
                                                {% if not project.projectCategory and default_project_category and default_project_category.id == pc.id %}
                                                    checked
                                                {% elseif project.projectCategory and project.projectCategory.id == pc.id %}
                                                    checked
                                                {% endif %}
                                        />
                                    </span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </details>
            {% endfor %}
        </div>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}