{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}

{% block body %}
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('time') }}">Time Reporting</a></li>
                {% if app.user.isAdmin %}
                    <li>
                        <strong>Admin</strong>
                        <ul>
                            <li><a href="{{ path('admin_project_categories_list') }}">Project Categories</a></li>
                            <li><a href="{{ path('admin_project_category_grid') }}">Project Grid</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block main %}
    {% endblock %}
{% endblock %}