{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}

{% block body %}
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('time') }}">Time Reporting</a></li>
                <li><a href="{{ path('report_client') }}">Rollup Report - By Clients</a></li>
                <li><a href="{{ path('report_user') }}">Rollup Report - By Users</a></li>
                {% if app.user.isAdmin %}
                    <li><a href="{{ path('admin_index') }}">Admin</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block main %}
    {% endblock %}
{% endblock %}