{% extends 'logged-in-base.html.twig' %}

{% block title %}Time{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Report for {{ thisWeek }}</h1>
    <a href="{{ path('report', {'dateStart':previousWeek}) }}">Previous week</a>
    <a href="{{ path('report', {'dateStart':nextWeek}) }}">Next week</a>
    <ul>
        {% for client in report.clients %}
            <li>
                {{ client.name }} ({{ client.time }})
                <ul>
                    {% for project in client.projects %}
                        <li>
                            {{ project.name }} ({{ project.time }})
                            <ul>
                                {% for user in project.users %}
                                    <li>
                                        {{ user.user.firstName }}
                                        {{ user.user.lastName }}
                                        :
                                        {{ user.time }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
